.product-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-card {
    background-color: white; 
    border: 1px solid #f3f4f6; 
    border-radius: 1rem;
    padding: 0.75rem;
    transition: box-shadow 200ms ease;  

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.product-card-link:hover .product-card {
    box-shadow: 20px 20px 250px -5 rgba(0, 0, 0, 0.1);
}

.product-image-container {
    background-color: #f9fafb; /* gray-50 */
    position: relative; 
    width: 100%; 
    border-radius: 37px; 
    overflow: hidden; 
    margin-bottom: 1rem ;
    aspect-ratio: 1/1; 
}

.product-image {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    transition: transform 500ms ease; 
}

.product-card:hover .product-image {
    transform: scale(1.1); 
}

.wishlist-btn {
  position: absolute;
  top: 1rem; 
  right: 1rem; 
  width: 3rem; 
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 9999px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; 
  transition: opacity 200ms ease; 
  cursor: pointer;
  color: black; 
}

.product-card:hover .wishlist-btn {
  opacity: 1; 
}

.verified-badge {
    position: absolute; 
    bottom: 5; 
    left: 20; 
    background-color: white;
    color: black; 
    border-radius: 20px;
    padding: 0.05rem .5rem; 
    display: flex; 
    align-items: center; 
    gap: 5; 
}

.verified-badge span {
    color: #13ec5b;
}

.product-card h4 {
    padding-top: 0.5rem; 
    padding-left: 1rem; 
    font-size: clamp(1rem, 2vh, 5rem); 
}

.vendor {
    opacity: 0.7; 
    padding-top: 0.5rem ;
    padding-left: 1rem; 
}

.vendor span{
    color: #13ec5b; 
    font-weight: 700;
}

.vendor span:last-child:hover{
    text-decoration: underline; 
    color: #13ec5b; 
    font-weight: 800;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem; 
    padding-right: 1rem; 
    padding-left: 1rem; 
    margin-top: auto ;
}

.price {
    font-weight: 700;
    font-size: 1.5rem; 
}

.add-to-cart {
    color: white; 
    background-color: #13ec5b; 
    border: none; 
    border-radius: 9999px; 
    height: 2.5rem;
    width: 2.5rem; 
    display: flex; 
    align-items: center;
    justify-content: center;
}
